<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="ModMage\Ship\Api\Data\WaysInterface" type="ModMage\Ship\Model\Ways" />
    <preference for="ModMage\Ship\Api\WaysRepositoryInterface" type="ModMage\Ship\Model\WaysRepository" />

    <virtualType name="WaysGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ModMage\Ship\Model\ResourceModel\Ways\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ship_ways_listing_data_source" xsi:type="string">ModMage\Ship\Model\ResourceModel\Ways\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="ModMage\Ship\Model\ResourceModel\Ways\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">make_ship</argument>
            <argument name="eventPrefix" xsi:type="string">make_ship_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">make_ship_collection</argument>
            <argument name="resourceModel" xsi:type="string">ModMage\Ship\Model\ResourceModel\Ways</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="ModMage\Ship\Api\Data\WaysInterface" xsi:type="string">ModMage\Ship\Api\WaysRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>
